<%= form_for current_user do |f| %>
  <% if current_user.errors.any? %>
  <div id="errorExplanation">
    <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
  <ul>
    <% current_user.errors.full_messages.each do |msg| %>
      <li><h6><%= msg %></h6></li>
    <% end %>
    </ul>
  </div>
  <% end %>

    <p>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>

    <p>
      <%= f.label :protect_tweets %>
      <%= f.check_box :protect_tweets %>
    </p>

    <p>
      <%= f.submit :"Create or Edit User" %>
    </p>
  <% end %>
